body {
    font-family: 'Times New Roman', Times, serif;
}

.font1 {
    font-size: 60px;
}

.all {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 200px;
}

#header {
    height: 133px;
    width: 94vw;
    background-color: #333;
    color: #eee;
    position: fixed;
    top: 0px;
    margin-left: 3vw;
    z-index: 20;
    overflow: hidden;
}
#header .font1 {
    float: left;
    margin-top: 25px;
    margin-left: 3vw;
}
#header .font2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    float: right;
    margin-top: 65px;
    margin-right: 3vw;
}
#header .font2 a {
    color: #eee;
    text-decoration: none;
}
#header .font2 a[title="active"] {
    color: #00aeef;
}

#Featured_content .font1 {
    color: #333;
    font-weight: bold;  
}
#Featured_content #color1 {
    color: #00bff3;
}
#Featured_content .font4 .bold1 {
    font-weight: bold;
}
#Featured_content .font3 {
    color: #bbbbbb;
    font-size: 50px;
}
#Featured_content .font4 {
    width: 88vw;
    color: #555;
    font-size: 34px;
    line-height: 42px;
    padding: 35px 0px  35px 0px;
    border-color: #ccc;
    border-width: 4px;
    border-top-style:  dotted;
    border-bottom-style: dotted;
    margin: 28px 0px 44px 0px;
}

#services1 {
    width: 88vw;
    margin-bottom: 50px;
}
#services1>div {
    background-color: #00aeef;
    width: 26vw;
    height: 351px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
#services1 .blue1 {
    float: left;
}
#services1 .blue2 {
    float: left;
    margin-left: 5vw;
}
#services1 .blue3 {
    float: right;
}
#services1 .v1 {
   font-size: 40px;
   padding-bottom: 20px;
   border-bottom-width: 2px;
   border-bottom-style: dotted;
   margin: 20px 2vw 0px;
}
#services1 .v2 {
    font-size: 14px;
    line-height: 21px;
    margin: 0px 2vw 0px;
    height: 130px;
}
#services1 a {
    text-decoration: none;
}
#services1 .v3 {
    background-color: #0076a3;
    width: 20vw;
    height: 3em;
    margin-left: 3vw;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 35px;
}
#services1 .v3 .v4 {
    font-size: 18px;
    color: #fff;
    padding-top: 0.6em;
}

#addition_info {
    clear: both;
    width: 88vw;
    margin-top: 450px;
    border-color: #ccc;
    border-width: 4px;
    border-top-style:  dotted;
    border-bottom-style:  dotted;
    padding-top: 40px;
    padding-bottom: 40px;
}
#addition_info .part1 {
    height: 400px;
    font-size: 14px;
    color: #555;
    line-height: 21px;
    width: 42vw;
    border-color: #ccc;
    border-width: 4px;
    border-right-style: dotted;
    padding-right: 3vw;
    float: left;
}
#addition_info .kvadrat {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/kvadrat.jpg);
    background-repeat: no-repeat;
    background-size: 70px 70px;
    padding-left: 100px;
    margin-top: 40px;
}
#addition_info .part1 .big {
    font-weight: bold;
}
#addition_info .part1 a {
    text-decoration: none;
    color: #00aeef;
}
#addition_info .part2 {
    font-size: 14px;
    color: #555;
    line-height: 21px;
    height: 400px;
    padding-left: 50vw;
}
#addition_info .zagolovok1 {
    font-size: 24px;
}
#addition_info #zagolovok2 {
    font-size: 20px;
    color: #888;
    margin-top: 23px;
    margin-bottom: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
#addition_info .textovka {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 21px;
}
#addition_info a {
    color: #00aeef;
    text-decoration: none;
}
#addition_info #sylka {
    margin-top: 13px;
}
    
#footer {
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    clear: both;
    margin-top: 20px;
}
