body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}

.font1 {
    font-size: 4.62em;
}

.all {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 200px;
}

#header {
    height: 133px;
    width: 94vw;
    background-color: #333;
    color: #eee;
    position: fixed;
    top: 0px;
    margin-left: 3vw;
    z-index: 20;
}
#header .font1 {
    float: left;
    margin-top: 25px;
    margin-left: 3vw;
}
#header .font2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.23em;
    float: right;
    margin-top: 65px;
    margin-right: 3vw;
}
#header .font2 a {
    color: #eee;
    text-decoration: none;
}
#header .font2 a[title="active"] {
    color: #00aeef;
}

#Featured_content .font1 {
    color: #333;
    font-weight: bold;  
}
#Featured_content #color1 {
    color: #00bff3;
}
#Featured_content .font4 .bold1 {
    font-weight: bold;
}
#Featured_content .font3 {
    color: #bbbbbb;
    font-size: 3.85em;
}
#Featured_content .font4 {
    width: 88vw;
    color: #555;
    font-size: 2.62em;
    line-height: 42px;
    padding: 35px 0px  35px 0px;
    border-color: #ccc;
    border-width: 4px;
    border-top-style:  dotted;
    border-bottom-style: dotted;
    margin: 28px 0px 44px 0px;
}

#services1 {
    width: 88vw;
    margin-bottom: 50px;
}
#services1>div {
    background-color: #00aeef;
    width: 26vw;
    height: 351px;
    font-size: 1.08em;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
#services1 .blue1 {
    float: left;
}
#services1 .blue2 {
    float: left;
    margin-left: 5vw;
}
#services1 .blue3 {
    float: right;
}
#services1 .v1 {
   font-size: 3.08em;
   padding-bottom: 20px;
   border-bottom-width: 2px;
   border-bottom-style: dotted;
   margin: 20px 2vw 0px;
}
#services1 .v2 {
    font-size: 1.08em;
    line-height: 21px;
    margin: 10px 2vw 0px;
    height: 130px;
}
#services1 a {
    text-decoration: none;
}
#services1 .v3 {
    background-color: #0076a3;
    width: 20vw;
    height: 3em;
    margin-left: 3vw;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 35px;
}
#services1 .v3 .v4 {
    font-size: 1.38em;
    color: #fff;
    padding-top: 0.6em;
}

#addition_info {
    clear: both;
    width: 88vw;
    margin-top: 450px;
    border-color: #ccc;
    border-width: 4px;
    border-top-style:  dotted;
    border-bottom-style:  dotted;
    padding-top: 40px;
    padding-bottom: 40px;
}
#addition_info .part1 {
    height: 400px;
    font-size: 1.08em;
    color: #555;
    line-height: 21px;
    width: 42vw;
    border-color: #ccc;
    border-width: 4px;
    border-right-style: dotted;
    padding-right: 3vw;
    float: left;
}
#addition_info .kvadrat {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/kvadrat.jpg);
    background-repeat: no-repeat;
    padding-left: 100px;
    margin-top: 40px;
}
#addition_info .part1 .big {
    font-weight: bold;
}
#addition_info .part1 a {
    text-decoration: none;
    color: #00aeef;
}
#addition_info .part2 {
    font-size: 1.08em;
    color: #555;
    line-height: 21px;
    height: 400px;
    padding-left: 50vw;
}
#addition_info .zagolovok1 {
    font-size: 1.85em;
}
#addition_info #zagolovok2 {
    font-size: 1.54em;
    color: #888;
    margin-top: 23px;
    margin-bottom: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
#addition_info .textovka {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 21px;
}
#addition_info a {
    color: #00aeef;
    text-decoration: none;
}
#addition_info #sylka {
    margin-top: 13px;
}
    
#footer {
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.23em;
    clear: both;
    margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .font1 {
        font-size: 3.5em;
    }
    
    .all {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        margin-top: 10px;
        text-align: center;
    }
    
    #header {
        height: 90px;
        width: 97vw;
        position: static;
        top: 0px;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    #header .font1 {
        float: left;
        margin-top: 20px;
        margin-left: 4vw;
    }
    #header .font2 {
        display: none;
    }
    
    #Featured_content .font1 {
        font-size: 3em;
    }
    #Featured_content .font3 {
        font-size: 2.5em;
        padding-top: 15px;
    }
    #Featured_content .font4 {
        width: 100%;
        font-size: 1.8em;
        line-height: 32px;
        padding: 15px 0px  15px 0px;
        margin-top: 20px;
        margin-bottom: 27px;
    }
    
    #services1 {
        width: 100vw;
        margin-bottom: 30px;
    }
    #services1>div {
        margin-left: 5vw;
        width: 90vw;
        height: 420px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }
    #services1 .blue1 {
        float: none;
    }
    #services1 .blue2 {
        float: none;
    }
    #services1 .blue3 {
        float: none;
    }
    #services1 .v1 {
       font-size: 3em;
       padding-top: 15px;
       padding-bottom: 15px;
    }
    #services1 .v2 {
        font-size: 1.5em;
        line-height: 30px;
        height: auto;
    }
    #services1 .v3 {
        width: 70vw;
        margin-left: 10vw;
        margin-top: 20px;
    }
    #services1 .v3 .v4 {
        font-size: 1.2em;
        padding-top: 0.7em;  
    }
    
    #addition_info {
        clear: none;
        width: 100vw;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 1px;
    }
    #addition_info .part1 {
        height: 350px;
        width: 97vw;
        padding-right: 0;
        float: none;
        border: none;
        padding-bottom: 50px;
        border-color: #ccc;
        border-width: 4px;
        border-bottom-style: dotted;
    }
    #addition_info .kvadrat {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 15px;
    }
    #addition_info .part2 {
        width: 97vw;
        padding-top: 20px;
        padding-left: 0;
    }
    img {
        width: 80vw;
    }
    #addition_info .zagolovok1 {
        font-size: 2.3em;
        margin-bottom: 23px;
    }
    #addition_info #zagolovok2 {
        font-size: 1.34em;
    }
    #addition_info #sylka {
        margin-top: 10px;
    }

    #footer {
        padding-bottom: 20px;
        font-size: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 479px) {
    #services1>div {
        height: 350px;
    }
    #addition_info .part1 {
        height: 330px;
        padding-bottom: 10px;
    }
    #addition_info .part2 {
        height: 380px;
    }
}